.container{
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#todoItem{
    height: 30px;
    width: 150px;
    font-size: large;

}
#Item{
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}